<h2>New Pantry Item</h2>
<mat-form-field>
  <input matInput [(ngModel)]="item.name" placeholder="Item Name" />
</mat-form-field>
<mat-form-field>
  <mat-label>Quantity</mat-label>
  <input matInput [(ngModel)]="item.quantityInPantry" />
</mat-form-field>
<mat-form-field>
  <mat-label>Total Calories</mat-label>
  <input matInput [(ngModel)]="item.calories" />
</mat-form-field>
<mat-form-field>
  <mat-label>Total Weight</mat-label>
  <input matInput [(ngModel)]="item.weight" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="item.image" placeholder="Image URL" />
</mat-form-field>
<button mat-raised-button color="accent" (click)="addItem()">Add Item</button>
