.addItem {
  margin: 20px;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.itemWidth {
  width: 150px;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.label {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.buttonTopMargin {
  margin-top: 5px;
}
