<mat-card class="recipe" *ngIf="edit === false">
  <div class="cardTop">
    <button mat-button class="actionButtons" (click)="deleteRecipe()">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-button class="actionButtons" (click)="editRecipe()">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-card-header class="recipeName">
      <mat-card-title>
        <b>Recipe: {{ recipe.name }}</b>
      </mat-card-title>
      <mat-card-subtitle>Creator: The {{ recipe.creator }}</mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content>
    <img src="{{ recipe.image }}" class="itemImage" alt="" />
    <div class="label">Ingredients:</div>
    <div class="recipeDetails">
      <app-recipe-ingredients
        *ngFor="let ingredient of recipe.ingredients"
        [ingredient]="ingredient"
        [recipeId]="recipe.id"
      ></app-recipe-ingredients>
    </div>
    <div
      class="label"
      *ngIf="recipe.instructions.length > 0; else noInstructions"
    >
      Directions: {{ recipe.instructions }}
    </div>
    <ng-template #noInstructions
      ><div>Recipe has no directions</div></ng-template
    >
  </mat-card-content>
</mat-card>

<app-recipe-edit *ngIf="edit === true" [recipe]="recipe"></app-recipe-edit>

<mat-card class="recipe">
  <div class="cardTop">
    <button mat-button class="actionButtons">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-header class="recipeName">
      <mat-card-title>
        <b *ngIf="redditPost.title === '@@@@loading'; else header"
          >Loading...</b
        >
        <ng-template #header>
          <b *ngIf="redditPost.found; else random"
            >Reddit Recipe: {{ recipe.name }}</b
          >
          <ng-template #random
            ><b
              >Reddit doesn't have a recipe for {{ recipe.name }}, here's a
              random one instead!</b
            ></ng-template
          >
        </ng-template>
      </mat-card-title>
      <mat-card-subtitle *ngIf="redditPost.title !== '@@@@loading'">{{
        redditPost.title
      }}</mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content>
    <img
      *ngIf="redditPost.title !== '@@@@loading'"
      src="{{ redditPost.thumbnail }}"
      class="itemImage"
      alt=""
    />
    <div class="recipeDetails"></div>
    <a
      class="link"
      href="https://www.reddit.com/{{ redditPost.link }}"
      target="_blank"
      rel="noopener noreferrer"
      *ngIf="redditPost.title !== '@@@@loading'"
      >link to reddit post</a
    >
  </mat-card-content>
</mat-card>
