<h2 *ngIf="!recipe.name">New Recipe</h2>
<h2 *ngIf="recipe.name">Recipe: {{ recipe.name }}</h2>
<div *ngIf="step === 1" class="flex">
  <mat-form-field>
    <input matInput [(ngModel)]="recipe.name" placeholder="Recipe Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="recipe.image" placeholder="Image URL" />
  </mat-form-field>
</div>
<div *ngIf="step === 2" class="flex">
  <app-recipe-ingredient-add
    [recipe]="recipe"
    [ingredients]="recipe.ingredients"
    (recipeEvent)="recipe = $event"
  ></app-recipe-ingredient-add>
</div>
<div *ngIf="step === 3" class="flex">
  <mat-form-field class="instructionSize">
    <textarea
      matInput
      [(ngModel)]="recipe.instructions"
      placeholder="Directions"
    ></textarea>
  </mat-form-field>
</div>
<button
  mat-flat-button
  color="primary"
  class="spacing buttonWidth"
  *ngIf="step === 3"
  (click)="nextAction()"
>
  Create Recipe
</button>
<div>
  <button
    mat-flat-button
    color="accent"
    (click)="step = step - 1"
    *ngIf="step !== 1"
    class="spacing"
  >
    Back
  </button>
  <button
    mat-flat-button
    color="accent"
    (click)="nextAction()"
    *ngIf="step !== 3"
    class="spacing"
  >
    Next
  </button>
</div>
