<mat-card class="item">
  <mat-card-header class="itemName">
    <mat-card-title>
      <b>{{ pantryItem.name }}</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img src="{{ pantryItem.image }}" class="itemImage" />
    <div class="itemQuantities">
      Quantity: {{ pantryItem.quantityInPantry }}
    </div>
    <div class="itemDetails">
      Total Calories: {{ pantryItem.calories }} cal(s)
    </div>
    <div class="itemDetails">Total Weight: {{ pantryItem.weight }} gram(s)</div>
    <div class="itemQuantities" *ngIf="ingredients">Ingredients:</div>
    <div class="ingredients">
      <div class="ingredient" *ngFor="let ingredient of ingredients">
        {{ ingredient.name }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
