<mat-form-field>
  <mat-label>Ingredient Name</mat-label>
  <input matInput [(ngModel)]="ingredient.name" />
</mat-form-field>
<mat-form-field class="qty">
  <mat-label>Qty</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="ingredient.recipeIngredients[riIndex].quantity"
  />
</mat-form-field>
<mat-form-field class="unit">
  <mat-label>Unit Of Measurement</mat-label>
  <mat-select [(ngModel)]="ingredient.unitOfMeasurement">
    <mat-option *ngFor="let unit of unitsOfMeasurement" [value]="unit">{{
      unit
    }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="delete()" class="clearButton">
  <mat-icon>clear</mat-icon>
</button>
