<mat-toolbar color="primary">
  <div *ngIf="currPage == 'login' || currPage == 'register'">Pantry Collab</div>
  <div *ngIf="currPage == 'pantry'">
    <button mat-button>
      <mat-icon>shopping_basket</mat-icon> The {{ familyName }}'s Pantry &nbsp;|
    </button>
    &nbsp; Family Code: {{ familyCode }}
  </div>
  <button mat-button *ngIf="showBackButton()" (click)="backToPantry()">
    <mat-icon>arrow_back</mat-icon>Back to Pantry
  </button>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <button mat-button *ngIf="hasFamily()" (click)="goToInvitations()">
    Invitations
  </button>
  <div *ngIf="hasFamily()">|</div>
  <button mat-button *ngIf="hasFamily()" (click)="goToRecipes()">
    Family Recipes
  </button>
  <div *ngIf="hasFamily()">|</div>
  <button mat-button *ngIf="isLoggedIn()" (click)="logout()">
    Logout <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
